* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  background-color: #a8c0f9;
}

.form-section {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.form-left {
  width: 42%;
  height: 100%;
  position: relative;
  padding: 50px;
}

.img {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-right {
  width: 58%;
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 50px 0px 0px 50px;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

#registerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

#loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.input,
button {
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 50px;
}

.input {
  outline: none;
  border: 1px solid #c1c3c1;
}

.label {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1rem;
}

button {
  background-color: #404add;
  color: white;
  border: none;
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

.or-sign {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.sign-text {
  padding: 10px;
  background-color: white;
  position: relative;
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #c1c3c1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign-icons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.sign-up {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  display: grid;
  place-items: center;
  background-color: #404add;
}

.svg {
  fill: white;
  width: 25px;
  height: auto;
}

.account {
  margin-top: auto;
}
.pass {
  margin-left: auto;
}

.welcome {
  margin-top: 110px;
}

.underline {
  text-decoration: none;
  color: rgb(112, 112, 112);
}

.password-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

#message {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
